@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 12px;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #ffffff;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #ffffff;
  font-size: 12px;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #ffffff;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #ffffff;
  font-size: 12px;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #ffffff;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #ffffff;
  font-size: 12px;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #ffffff;
}


#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  scale: 150%;
  margin-top: 200px;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #000000;
  
  border: solid 5px #000000;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #000000;
  color: #ffffff;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 5px #000000;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #000000;
  color: #ffffff;

}

#submit {
  width: 510px;
  
  padding: 0;
  /* margin: -5px 0px 0px 0px; */
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #000000;
  
  outline:none;
  cursor: pointer;
  
  border: solid 5px #000000;
  border-top: none;
}

#submit:hover {
  color: #ffffff;
}

.formDiv{
    width: fit-content;
    flex-direction: column;
    padding: 10px 10px;
    border: solid 5px black;
}

.footer {
    background: #ffffff;
    color: #333;
}

.footer-container {
   width: 800px;
    margin: auto;
    padding: 40px;
    translate: 70px;
    margin-top: 40px;
}

.social-icons img {
    max-height: 50px;
    max-height: 50px;
    margin-right: 80px;
    transition: all 0.2s;
}


.instagram:hover{
    background-color: #c722ca;
    border-radius: 999px;
}

.github:hover{
    background-color: #454141;
    border-radius: 999px;

}

.youtube:hover{
    background-color: rgb(217, 28, 28);
    border-radius: 999px;
}

.twitter:hover{
    background-color: rgb(18, 174, 226);
    border-radius: 999px;
}

.facebook:hover{
    background-color: rgb(81, 81, 250);
    border-radius: 999px;
}

.linkedin:hover{
    background-color: rgb(91, 91, 242);
    border-radius: 999px;
}

.social-icons img:hover{
    scale: 150%;
}

/* .divider{
    margin-top: 50px;
    height: 2px;
    width: 60%;
    background-color: #000000;
} */

footer{
    border-top: solid 2px gray;
    width: 100%;
    margin-top: 50px;
}

